.venue-logo {
    text-align: center;
    margin: 2rem 0;
    font-family: 'Noto Sans KR';
}
.venue-footer {
    text-align: center;
    margin-top: 2rem;
}

.venue-header {
    text-align: center;
    margin: 2rem 0;
}